target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Visual Studio Code
.vscode

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

mvnw
mvnw.cmd
.env
.DS_Store

### Build stuff
build/
build.sh
build.bat

database/
backup/

packages/e2e

packages/**/src/test/**


