# These variables are dockerised. Copy this file to .env.local and change the values to your needs.

SPRING_PROFILES_ACTIVE=dev,nft-event-indexer,clause-indexer,block-indexer,contract-indexer,transaction-indexer,transfer-event-indexer

# Mongo
MONGO_URI=mongodb://mongo-node1:27017/vechain
MONGO_USER_NAME=admin
MONGO_PASSWORD=password
MONGO_DATABASE=vechain

# Thor
THOR_URL=http://thor-solo:8669