# These variables are dockerised. Copy this file to .env.local and change the values to your needs.

SPRING_PROFILES_ACTIVE=dev,nft-event-indexer,clause-indexer,block-indexer,contract-indexer,transaction-indexer,transfer-event-indexer

# Mongo
MONGO_URI=mongodb://admin:password@mongo-node1:27017/vechain?authMechanism=SCRAM-SHA-1&authSource=admin

# Thor
THOR_URL=http://thor-solo:8669

APP_LOG_LEVEL=INFO
